/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers { compatible = "zmk,conditional-layers"; };

    macros {
        refactor: refactor {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GLOBE &kp LS(F6)>;
            label = "REFACTOR";
        };

        find: find {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_GUI &kp LEFT_SHIFT &kp F>;
            label = "FIND";
        };

        create_constant: create_constant {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI &kp LEFT_ALT &kp C>;
            label = "CREATE_CONSTANT";
        };

        create_variable: create_variable {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI &kp LEFT_ALT &kp V>;
            label = "CREATE_VARIABLE";
        };

        new_line_mac: new_line_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(RIGHT_ARROW) &kp ENTER>;
            label = "NEW_LINE_MAC";
        };

        new_line_win: new_line_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp END &kp ENTER>;
            label = "NEW_LINE_WIN";
        };
    };

    behaviors {
        tap_or_hold: tap_or_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_OR_HOLD";
            bindings = <&mo>, <&mo>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <53>;
            tapping-term-ms = <2000>;
        };

        behavior_tap_hold_key: behavior_tap_hold_key {
            compatible = "zmk,behavior-hold-tap";
            label = "BEHAVIOR_TAP_HOLD_KEY";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <2000>;
        };

        kp_and_refactor: kp_and_refactor {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_AND_REFACTOR";
            bindings = <&refactor>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <16>;
            tapping-term-ms = <2000>;
        };

        behavior_find: behavior_find {
            compatible = "zmk,behavior-hold-tap";
            label = "BEHAVIOR_FIND";
            bindings = <&find>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <28>;
            tapping-term-ms = <2000>;
        };

        create_function: create_function {
            compatible = "zmk,behavior-hold-tap";
            label = "CREATE_FUNCTION";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <45>;
            tapping-term-ms = <2000>;
        };

        vol_behavior: vol_behavior {
            compatible = "zmk,behavior-sensor-rotate";
            label = "VOL_BEHAVIOR";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOLUME_DOWN>;

            tap-ms = <7>;
        };

        to_nav_layer: to_nav_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "TO_NAV_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        typing {
            bindings = <
&kp GRAVE       &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                                  &kp N6  &kp N7  &kp N8     &kp N9   &kp N0    &kp BSPC
&trans          &kp Q   &kp W   &kp E   &kp R   &kp T                                   &kp Y   &kp U   &kp I      &kp O    &kp P     &trans
&trans          &kp A   &kp S   &kp D   &kp F   &kp G                                   &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp APOS
&kp LEFT_SHIFT  &kp Z   &kp X   &kp C   &kp V   &kp B   &kp K_PLAY_PAUSE    &kp K_MUTE  &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp RET
                        &trans  &trans  &trans  &trans  &kp SPACE           &trans      &trans  &trans  &trans     &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP C_VOL_DN>,
                <&inc_dec_kp C_NEXT C_PREVIOUS>;
        };

        typing_mac {
            bindings = <
&kp GRAVE       &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                                  &kp N6  &kp N7  &kp N8             &kp N9   &kp N0    &kp BSPC
&trans          &kp Q   &kp W   &kp E   &kp R   &kp T                                   &kp Y   &kp U   &to_nav_layer 2 I  &kp O    &kp P     &trans
&trans          &kp A   &kp S   &kp D   &kp F   &kp G                                   &kp H   &kp J   &kp K              &kp L    &kp SEMI  &kp APOS
&kp LEFT_SHIFT  &kp Z   &kp X   &kp C   &kp V   &kp B   &kp K_PLAY_PAUSE    &kp K_MUTE  &kp N   &kp M   &kp COMMA          &kp DOT  &kp FSLH  &kp RET
                        &trans  &trans  &trans  &trans  &kp SPACE           &trans      &trans  &trans  &trans             &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP C_VOL_DN>,
                <&inc_dec_kp C_NEXT C_PREVIOUS>;
        };

        nav_mac {
            bindings = <
&trans  &trans     &trans     &trans     &kp LG(RIGHT_ARROW)  &trans                       &trans    &trans    &trans  &trans         &kp LG(LEFT_ARROW)  &trans
&trans  &trans     &trans     &trans     &trans               &trans                       &trans    &trans    &trans  &new_line_mac  &trans              &trans
&trans  &trans     &trans     &trans     &trans               &trans                       &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT      &trans              &trans
&trans  &kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)            &kp LG(B)  &trans    &trans  &trans    &trans    &trans  &trans         &trans              &trans
                   &trans     &trans     &trans               &trans     &trans    &trans  &trans    &trans    &trans  &trans
            >;
        };

        typing_win {
            bindings = <
&kp GRAVE       &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                                  &kp N6  &kp N7  &kp N8             &kp N9   &kp N0    &kp BSPC
&trans          &kp Q   &kp W   &kp E   &kp R   &kp T                                   &kp Y   &kp U   &to_nav_layer 4 I  &kp O    &kp P     &trans
&trans          &kp A   &kp S   &kp D   &kp F   &kp G                                   &kp H   &kp J   &kp K              &kp L    &kp SEMI  &kp APOS
&kp LEFT_SHIFT  &kp Z   &kp X   &kp C   &kp V   &kp B   &kp K_PLAY_PAUSE    &kp K_MUTE  &kp N   &kp M   &kp COMMA          &kp DOT  &kp FSLH  &kp RET
                        &trans  &trans  &trans  &trans  &kp SPACE           &trans      &trans  &trans  &trans             &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP C_VOL_DN>,
                <&inc_dec_kp C_NEXT C_PREVIOUS>;
        };

        nav_win {
            bindings = <
&trans  &trans     &trans     &trans     &kp END    &trans                       &trans    &trans    &trans  &trans         &kp HOME  &trans
&trans  &trans     &trans     &trans     &trans     &trans                       &trans    &trans    &trans  &new_line_win  &trans    &trans
&trans  &trans     &trans     &trans     &trans     &trans                       &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT      &trans    &trans
&trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(B)  &trans    &trans  &trans    &trans    &trans  &trans         &trans    &trans
                   &trans     &trans     &trans     &trans     &trans    &trans  &trans    &trans    &trans  &trans
            >;
        };

        connections {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
